@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #181818;
}

body {
  background: linear-gradient(260deg, #1f1f1f 0%, #1b1b1b 100%);
}

h1 {
  font-size: 38px;
  font-weight: 500;
  width: 100px;
  margin-bottom: -10px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px auto;
  height: 680px;
  width: 350px;
  margin-left: -175px;
  margin-top: -350px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px #1d1d1d;
  background: linear-gradient(140deg, #cfeffe 0%,  #82b8fe 100%);
}

.search-input {
  gap: 20px;
  display: flex;
  align-items: center;
}

.search-input .img-holder {
  background: url(./icons/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.search-input .img-holder:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease;
}

input {
  transition: 0.5s ease;
  background: #ffffff80;
  border: none;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px 10px;
}

input:focus {
  outline: none;
  scale: 1.05;
}

.low-opacity {
  color: #18181880;
}

.temperature-info {
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  scale: 1.2;
}

.temperature-info .img-holder {
  position: relative;
  top: -10px;
  left: -20px;
  background: url(./icons/rainy.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 10rem;
  width: 45%;
}

.weather-text {
  position: relative;
  left: -30px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-text .temperature {
  font-size: 5rem;
  font-weight: 700;
  color: #303345;
}

.weather-text .status {
  margin-top: -10px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #303345;
}

.weather-text p {
  position: absolute;
  right: -20px;
  color: #303345;
}

.weather-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info-row {
  display: flex;
  gap: 10px;
  background: linear-gradient(90deg, #ffffff40 0%, #ffffff60 100%);
  border-radius: 10px;
}



